@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin card-border {
  border: outset 5px lightgray;
  border-radius: 6px;
}
