/* This is an example of how to import a partial scss file*/
@use "_variables" as v;

body {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  height: 100vh;
  width: 100%;
}

   header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    grid-column: 1 / 4;
    background-color: v.$light-warm;
    color: v.$dark;
    border-bottom: dashed 8px v.$dark;
      i {
        color: v.$dark;
        font-size: 60pt;
        margin-left: 3%;
      }
  }

h1 {
  font-size: 60pt;
  margin: 0 3%;
}

  .left-side {
    grid-column: 1 / 2;
    padding: 6rem;
    background-color: v.$light-cool;
  }

   main {
    grid-column: 2 / 3;
    padding: 7rem;
    background-color: v.$light-warm;
  }

   .right-side {
    grid-column: 3 / 4;
    padding: 6rem;
    background-color: v.$med-warm;
  }

  footer {
    grid-column: 1 / 4;
    padding: 3rem;
    background-color: v.$med-cool;
  }
