/* This is an example of how to import a partial scss file*/
@use "_variables" as v;

body {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  height: 100vh;
  width: 100%;
}

 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  grid-column: 1 / 4;
  background-color: white;
  color: v.$dark;
  // border-bottom: solid 6px v.$dark;
}

button {
  cursor: pointer;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12pt;
    margin: 0 3%;
    i {
      font-size: 32pt;
      margin-left: 15px;
    }
  }

h1 {
  display: inline;
  font-size: 60pt;
  margin: 0 3%;
}

.left-side {
    grid-column: 1 / 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  [data-tab-content] {
    border: solid 2rem;
    display: none;
  }

  .active[data-tab-content] {
    display: inherit;
  }

.tab-content {
  display: flex;
  flex-grow: 1;
  width: inherit;
}

  .past-trips {
    background-color: #E3E7F2;
    border-color: #E3E7F2;
    flex-grow: 1;
  }

  .future-trips {
    background-color: v.$light-warm;
    border-color: v.$light-warm;
    flex-grow: 1;
  }

  .pending-trips {
    background-color: rgb(251, 221, 216);
    border-color: rgb(251, 221, 216);
    flex-grow: 1;
  }

  .trip-buttons {
    display: flex;
    justify-content: center;
      button {
        height: 30px;
        color: v.$dark;
        font-size: medium;
        font-weight: bold;
        border: solid 3px v.$dark;
        border-bottom: none;
        margin-left: 2px;
      }
  }


.trip-card {
  flex: 1 1 150px;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border: outset 5px lightgray;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-width: 250px;
  height: auto;
}

.right-side {
  grid-column: 2 / 4;
  padding: 2rem;
  background-color: v.$med-cool;
  display: flex;
  justify-content: space-between;
}

.plan-adventure {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: v.$dark;
  font-size: larger;
    button {
      background-color: inherit;
      color: inherit;
      border: none;
      font-size: 350pt;
    }
}

.form-header {
  background-color: inherit;
  align-content: center;
}

.modal {
  display: none;
}

.modal.is-open {
  grid-column: 3 / 4;
  background-color: v.$light-warm;
  display: block;
  padding: 2rem;
  overflow: auto;
  width: auto;
  height: auto;
  border: outset 6px lightgray;
  border-radius: 6px;
  }

  .close-modal {
  background-color: inherit;
  color: darkred;
  font-weight: bold;
  font-size: larger;
  border: none;
}

form {
  flex-grow: 1;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

input,
select,
label {
  padding: .3rem;
  margin-top: .5rem;
  font-size: large;
}

.price {
  display: flex;
  justify-content: space-between;
    p  {
      background-color: white;
      font-size: larger;
      padding: 0 3%;
      border: solid 1px gray;
    }
}

.form-buttons {
  display: flex;
  justify-content: space-around;
}

  footer {
    grid-column: 1 / 4;
    padding: 5rem;
    background-color: v.$light-cool;
  }

.hidden {
  display: none;
}
