/* This is an example of how to import a partial scss file*/
@use "_variables" as v;

body {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  height: 100vh;
  width: 100%;
}

   header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    grid-column: 1 / 4;
    background-color: white;
    color: v.$dark;
    border-bottom: solid 6px v.$dark;
  }

  .welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12pt;
    margin: 0 3%;
      i {
        font-size: 32pt;
        margin-left: 15px;
      }
  }

h1 {
  display: inline;
  font-size: 60pt;
  margin: 0 3%;
}

  .left-side {
    grid-column: 1 / 2;
    padding: 15rem;
    background-color: v.$med-cool;
    width: 50%
  }

   main {
    grid-column: 2 / 4;
    padding: 12rem;
    background-color: v.$med-warm;
  }

  //  .right-side {
  //   grid-column: 3 / 4;
  //   padding: 6rem;
  //   background-color: v.$med-warm;
  // }

  footer {
    grid-column: 1 / 4;
    padding: 3rem;
    background-color: v.$med-cool;
  }
